/*
==========================================
SINLGE ELEMENT ANIMATIONS
==========================================
*/


/******* SINGLE ELEMENT ANIMATION 1 *******/
#single1 {
  -webkit-animation-name: single1;
          animation-name: single1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#single1 .scroll-arrow-container {
  height: 20px;
  width: 20px;
  position: relative;
}
#single1 span {
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: #7f7f7f;
}
#single1 span.arrow-left {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  left: -17px;
}
#single1 span.arrow-right {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: -17px;
}
@-webkit-keyframes single1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/******* SINGLE ELEMENT ANIMATION 2 *******/
#single2 {
  -webkit-animation-name: single2;
          animation-name: single2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#single2 .scroll-arrow-container {
  height: 20px;
  width: 20px;
  position: relative;
}
#single2 span {
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: #7f7f7f;
}
#single2 span.arrow-left {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  left: -17px;
}
#single2 span.arrow-right {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: -17px;
}
@-webkit-keyframes single2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}



/******* SINGLE ELEMENT ANIMATION 3 *******/
#single3 {
  -webkit-animation-name: single3;
          animation-name: single3;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#single3 .scroll-arrow-container {
  height: 20px;
  width: 20px;
  position: relative;
}
#single3 span {
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: #7f7f7f;
}
#single3 span.arrow-left {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  left: -17px;
}
#single3 span.arrow-right {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: -17px;
}
@-webkit-keyframes single3 {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0) translateY(200px);
            transform: scale(0) translateY(200px);
    opacity: 0;
  }
}

/******* SINGLE ELEMENT ANIMATION 4 *******/
#single4 {
  margin-top: 40px;
  -webkit-animation-name: single4;
          animation-name: single4;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#single4 span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 15px 0 15px;
  border-color: #7f7f7f transparent transparent transparent;
}
@-webkit-keyframes single4 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes single4 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

/******* SINGLE ELEMENT ANIMATION 5 *******/
#single5 {
  margin-top: 40px;
  -webkit-animation-name: single5;
          animation-name: single5;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}
#single5 span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 15px 0 15px;
  border-color: #7f7f7f transparent transparent transparent;
}
@-webkit-keyframes single5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/******* SINGLE ELEMENT ANIMATION 6 *******/
#single6 {
  margin-top: 40px;
  -webkit-animation-name: single6;
          animation-name: single6;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
#single6 span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 15px 0 15px;
  border-color: #7f7f7f transparent transparent transparent;
}
@-webkit-keyframes single6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5%, 15%, 25% {
    -webkit-transform: scale(.8);
            transform: scale(.8);
  }
  10%, 20%, 30%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}



/*
==========================================
MULTIPLE ELEMENT ANIMATIONS
==========================================
*/


/******* MULTIPLE ELEMENT ANIMATION 1 *******/
#multiple1 .scroll-arrow-container {
  height: 20px;
  width: 20px;
  position: relative;
}
#multiple1 span {
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: #7f7f7f;
}
#multiple1 span.arrow-left {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  left: -17px;
}
#multiple1 span.arrow-right {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: -17px;
}
#multiple1 .arrow1 {
  -webkit-animation-name: multiple1_1;
          animation-name: multiple1_1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes multiple1_1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#multiple1 .arrow2 {
  -webkit-animation-name: multiple1_2;
          animation-name: multiple1_2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes multiple1_2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#multiple1 .arrow3 {
  -webkit-animation-name: multiple1_3;
          animation-name: multiple1_3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes multiple1_3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/******* MULTIPLE ELEMENT ANIMATION 2 *******/
#multiple2 .scroll-arrow-container {
  height: 20px;
  width: 20px;
  position: relative;
}
#multiple2 span {
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: #7f7f7f;
}
#multiple2 span.arrow-left {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  left: -17px;
}
#multiple2 span.arrow-right {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: -17px;
}
#multiple2 .arrow1 {
  -webkit-animation-name: multiple2_1;
          animation-name: multiple2_1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes multiple2_1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#multiple2 .arrow2 {
  -webkit-animation-name: multiple2_2;
          animation-name: multiple2_2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes multiple2_2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#multiple2 .arrow3 {
  -webkit-animation-name: multiple2_3;
          animation-name: multiple2_3;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes multiple2_3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/******* MULTIPLE ELEMENT ANIMATION 3 *******/
#multiple3 .scroll-arrow-container {
  height: 5px;
  width: 20px;
  position: relative;
}
#multiple3 span {
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: #7f7f7f;
}
#multiple3 span.arrow-left {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
        transform: rotate(30deg);
  left: -17px;
}
#multiple3 span.arrow-right {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
        transform: rotate(-30deg);
  right: -17px;
}
#multiple3 .arrow1 {
  -webkit-transform: scale(.4);
      -ms-transform: scale(.4);
          transform: scale(.4);
  -webkit-animation-name: multiple3_1;
          animation-name: multiple3_1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes multiple3_1 {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#multiple3 .arrow2 {
  -webkit-transform: scale(.6);
      -ms-transform: scale(.6);
          transform: scale(.6);
  -webkit-animation-name: multiple3_2;
          animation-name: multiple3_2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes multiple3_2 {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#multiple3 .arrow3 {
  -webkit-transform: scale(.8);
      -ms-transform: scale(.8);
          transform: scale(.8);
  -webkit-animation-name: multiple3_3;
          animation-name: multiple3_3;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes multiple3_3 {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 0;
  }
  14% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#multiple3 .arrow4 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-animation-name: multiple3_4;
          animation-name: multiple3_4;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes multiple3_4 {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 0;
  }
  14% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  28% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*
==========================================
SVG ANIMATIONS
==========================================
*/

/************ SVG ANIMATION 1 ***********/
#svg1 svg {
  height: 50px;
  width: 28px;
}
#svg1 svg #mouse-circle circle {
  -webkit-animation-name: svg1;
          animation-name: svg1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes svg1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
}
@keyframes svg1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
}


/************ SVG ANIMATION 2 ***********/
#svg2 svg {
  height: 50px;
  width: 28px;
}
#svg2 svg #mouse-circle2 circle {
  -webkit-animation: svg2, svg2;
          animation: svg2, svg2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes svg2 {
  0% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
    opacity: 1;
  }
  33% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 1;
  }
  66% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  99% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes svg2 {
  0% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
    opacity: 1;
  }
  33% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 1;
  }
  66% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  99% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/************ SVG ANIMATION 3 ***********/
#svg3 svg {
  height: 60px;
}
#svg3 svg #mouse3_3 {
  -webkit-animation-name: svg3;
          animation-name: svg3;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes svg3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  8% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 1;
  }
  9% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  11% {
    opacity: 1;
  }
  12% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  22% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  23% {
    opacity: 1;
  }
  24% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  34% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  36% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/*
==========================================
TEXT ANIMATIONS
==========================================
*/

/************ TEXT ANIMATION 1 ***********/
#text1 {
  -webkit-animation-name: text1;
          animation-name: text1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes text1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/************ TEXT ANIMATION 2 ***********/
#text2 {
  -webkit-animation-name: text2;
          animation-name: text2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes text2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

/************ TEXT ANIMATION 3 ***********/
#text3 {
  -webkit-animation-name: text3;
          animation-name: text3;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes text3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
