/*
==========================================
  BASIC CSS RESET
==========================================
*/

* {
  margin: 0;
  padding: 0;
}

/*
==========================================
  GLOBAL STYLES
==========================================
*/

body {
  color: #7f7f7f;
  font-family: Roboto;
  font-weight: 300;
}
section {
  clear: both;
}
a {
  text-decoration: none;
  color: #7f7f7f;
}
a:hover, a:focus, a:active {
  color: #19b5fe;
}
.blue {
  color: #19b5fe;
}

/*
==========================================
  SIDE BAR
==========================================
*/

.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #f2f2f2;
}
.logo {
  display: block;
  margin: 25px auto 100px;
}
.main-nav ul li {
  text-transform: uppercase;
  font-size: 16px;
  text-align: right;
  width: 100%;
  height: 40px;
}
.main-nav ul li a {
  box-sizing: border-box;
  padding: 10px 25px 10px 0;
  display: block;
  width: 100%;
}
.main-nav ul li a:hover {
  color: #19b5fe;
  cursor: pointer;
}
.activeMenuItem {
  background-color: #fff;
  color: #19b5fe;
  position: relative;
}
.activeMenuItem::after {
  content: '';
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #fff;
  position: absolute;
  top: 0;
  right: -10px;
}
.small-links {
  position: fixed;
  bottom: 25px;
  left: 67px;
}
.small-links a {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 25px;
  padding-bottom: 10px;
  font-weight: 300;
}
a.social-icon {
  display: inline-block;
  padding-right: 6px;
  padding-top: 14px;
}
a.social-icon svg{
  height: 30px;
}
.social-icon svg path{
  fill: #7f7f7f;
}
.social-icon:hover svg path {
  fill: #19b5fe;
}
@media only screen and (max-width: 760px) {
  .sidebar {
    display: none;
  }
}

/*
==========================================
  MOBILE
==========================================
*/

section.mobile {
  display: none;
}
.menu-button {
  height: 20px;
  width: 24px;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
  z-index: 5;
}
.menu-button span {
  width: 24px;
  height: 3px;
  background-color: #7f7f7f;
  position: absolute;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.menu-button span.top-stripe {
  top: 0;
}
.menu-button span.mid-stripe {
  top: 9px;
  opacity: 1;
}
.menu-button span.bot-stripe {
  bottom: 0;
}
.menu-button:hover span {
  background-color: #19b5fe;
}
.mobile-social {
  margin-top: 100px;
}
.mobile-small-links {
  font-size: 12px;
}

/* to animate menu button */

.menu-button.clicked span.top-stripe {
  top: 9px;
  background-color: #7f7f7f;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.menu-button.clicked span.mid-stripe {
  opacity: 0;
}
.menu-button.clicked span.bot-stripe {
  bottom: 8px;
  background-color: #7f7f7f;
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.menu-button.clicked:hover span {
  background-color: #19b5fe;
}
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out
}
.mobile-nav.open-mobile-menu {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.mobile-nav ul {
  list-style: none;
}
.mobile-nav ul li {
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}
.mobile-nav ul li a {
  background-color: #f2f2f2;
}
.mobile-nav ul li a:after {
  display: none;
}
@media only screen and (max-width: 760px) {
  section.mobile {
    display: block;
  }
}

/*
==========================================
  MAIN CONTENT
==========================================
*/

.main-content {
  width: 100%;
  max-width: 1280;
  padding-left: 200px;
  box-sizing: border-box;
  padding-top: 75px;
}
.mobile-logo {
  display: none;
}
.intro-sentence {
  font-size: 18px;
  font-weight: 300;
  width: 60%;
  margin: 0 auto 50px;
  text-align: center;
  line-height: 1.6;
}
.cta {
  display: block;
  width: 200px;
  text-align: center;
  background-color: #19b5fe;
  border: 1px solid #19b5fe;
  color: #fff;
  padding: 20px;
  margin: 0 auto 75px;
  font-weight: 300;
}
.cta:hover {
  background-color: #fff;
  color: #19b5fe;
}
@media only screen and (max-width: 760px) {
  .main-content {
    padding-left: 0;
  }
  .mobile-logo {
    display: block;
    margin: 0 auto 50px;
  }
}


/*
==========================================
  GALLERY
==========================================
*/

.gallery {
  box-sizing: border-box;
  background: #e5e5e5;
  width: 100%;
  overflow: auto;
  padding: 50px 20px 25px;
}
h3 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.gallery h4 {
  text-align: center;
  font-weight: 100;
  font: 16px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.gallery h4:not(.first-sub-title) {
  margin-top: 75px;
}
.row {
  width: 100%;
  overflow: auto;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.gallery-item {
  background-color: #fff;
  width: 30%;
  padding-bottom: 27.21%;
  position: relative;
}
.gallery-item .item-content {
  height: 100%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #fff;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}
.item-caption {
  background-color: #19b5fe;
  color: #fff;
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
  -webkit-transform: translateY(32px);
  -ms-transform: translateY(32px);
  transform: translateY(32px);
  left: 0;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.item-content:hover {
  border: 1px solid #19b5fe;
}
.item-content:hover .item {
  color: #7f7f7f;
}
.item-content:hover .item-caption {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (max-width: 520px) {
  .row {
    display: block;
    margin: 0;
  }
  .gallery-item {
    width: 100%;
    min-height: 100px;
    margin: 20px 0;
  }
  .gallery-item:last-of-type {
    margin-bottom: 0;
  }
}

/*
==========================================
  HOW TO
==========================================
*/

.how-to-use {
  background-color: #fff;
  padding-top: 75px;
  width: 60%;
  margin: 0 auto;
}
.how-to-use p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 50px;
}
.row .use-col {
  margin-top: 25px;
  width: 30%;
}
.use-col .icon {
  display: block;
  height: 35px;
  margin: 0 auto;
}
.use-col .use-title {
  text-transform: uppercase;
  text-align: center;
  margin: 25px auto;
}
.use-col .use-description {
  font-size: 14px;
}
@media only screen and (max-width: 660px) {
  .how-to-use {
    width: 80%;
  }
}
@media only screen and (max-width: 580px) {
  .how-to-use .row {
    display: block;
  }
  .row .use-col {
    width: 80%;
    margin: 0 auto;
  }
  .use-col .use-title {
    margin: 15px auto 5px;
  }
}

/*
==========================================
  FOOTER
==========================================
*/

footer {
  padding-left: 200px;
  text-align: center;
  background-color: #7f7f7f;
  color: #e5e5e5;
  height: 40px;
  line-height: 40px;
}
footer p {
  font-size: 12px;
  opacity: .5;
  text-transform: uppercase;
}
footer p img {
  height: 12px;
}
footer p a {
  color: #e5e5e5;
}
footer p a:hover {
  color: #fff;
}
@media only screen and (max-width: 760px) {
  footer {
    padding-left: 0;
  }
}
