/*
==========================================
  BASIC CSS RESET
==========================================
*/

* {
  margin: 0;
  padding: 0;
}

/*
==========================================
  GLOBAL STYLES
==========================================
*/

body {
  color: #7f7f7f;
  font-family: Roboto;
  font-weight: 300;
}
section {
  clear: both;
}
a {
  text-decoration: none;
  color: #7f7f7f;
}
a:hover, a:focus, a:active {
  color: #19b5fe;
}
.blue {
  color: #19b5fe;
}

/*
==========================================
  SIDE BAR
==========================================
*/

.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #f2f2f2;
}
.logo {
  display: block;
  margin: 25px auto 100px;
}
.main-nav ul li {
  text-transform: uppercase;
  font-size: 16px;
  text-align: right;
  padding: 10px 25px 10px 0;
}
.main-nav ul li:hover{
  color: #19b5fe;
  cursor: pointer;
}
.activeMenuItem{
  background-color: #fff;
  color: #19b5fe;
  position: relative;
}
.activeMenuItem a{
  color: #19b5fe;
}
.activeMenuItem::after {
  content: '';
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #fff;
  position: absolute;
  top: 0;
  right: -10px;
}
.small-links {
  position: fixed;
  bottom: 50px;
  left: 67px;
}
.small-links a {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 25px;
  padding-bottom: 10px;
  font-weight: 300;
}

/*
==========================================
  MAIN CONTENT
==========================================
*/

.main-content {
  width: 100%;
  max-width: 1280;
  padding-left: 200px;
  box-sizing: border-box;
}
.intro-sentence {
  font-size: 18px;
  font-weight: 300;
  width: 60%;
  margin: 75px auto 50px;
  text-align: center;
  line-height: 1.6;
}
.cta {
  display: block;
  width: 200px;
  text-align: center;
  background-color: #19b5fe;
  border: 1px solid #19b5fe;
  color: #fff;
  padding: 20px;
  margin: 0 auto 75px;
  font-weight: 300;
}
.cta:hover {
  background-color: #fff;
  color: #19b5fe;
}
.gallery {
  box-sizing: border-box;
  background: #e5e5e5;
  width: 100%;
  overflow: auto;
  padding: 50px 20px 25px;
}
h3 {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.row {
  width: 100%;
  overflow: auto;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.gallery-item {
  background-color: #fff;
  width: 30%;
  padding-bottom: 27.21%;
  position: relative;
}
.gallery-item .item-content {
  height: 100%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
         -webkit-box-pack: center;
  -webkit-justify-content: center;
            -ms-flex-pack: center;
          justify-content: center;
    -webkit-box-align: center;
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: 1px solid #fff;
  transition: border-color .3s ease-in-out;
}
.item-caption {
  background-color: #19b5fe;
  color: #fff;
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
  transform: translateY(30px);
  left: 0;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 12px;
  transition: all .3s ease-in-out;
}
.item-content:hover {
  border: 1px solid #19b5fe;
}
.item-content:hover .item-caption {
  transform: translateY(0);
}

.how-to-use {
  background-color: #fff;
  padding-top: 75px;
  width: 60%;
  margin: 0 auto;
}
.how-to-use p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 50px;
}
.row .use-col {
  margin-top: 25px;
  height: 200px;
  width: 30%;
}
.use-col .icon {
  display: block;
  height: 35px;
  margin: 0 auto;
}
.use-col .use-title {
  text-transform: uppercase;
  text-align: center;
  margin: 25px auto;
}
.use-col .use-description {
  font-size: 14px;
}


footer {
  padding-left: 200px;
  text-align: center;
  background-color: #7f7f7f;
  color: #e5e5e5;
  height: 40px;
  line-height: 40px;
}
footer p {
  font-size: 12px;
  opacity: .5;
  text-transform: uppercase;
}
footer p img {
  height: 12px;
}
footer p a {
  color: #e5e5e5;
}
footer p a:hover {
  color: #fff;
}
