/******************************************
*					    											  		*
*              	RUMILI                    *  
*     http://boguz.github.io/rumuli/      *
*      						    									  *
******************************************/


/********   TEXT ANIMATION 1   ************/

#text1 {
	-webkit-animation-name: text1;
	animation-name: text1;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes text1 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}