/******************************************
*					    												  	*
*              	RUMILI                    *  
*     http://boguz.github.io/rumuli/      *
*      						    								  	*
******************************************/


/*****  SINGLE ELEMENT ANIMATION 7   ******/

#single7 {
	-webkit-animation-name: single7;
	animation-name: single7;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

#single7 span:before {
	content: "↓";
	display: block;
	-webkit-transform: scale(3);
	-ms-transform: scale(3);
	transform: scale(3);
}

@-webkit-keyframes single7 {
	0% {
		opacity: 1;
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	20% {
		-webkit-transform: rotate(720deg);
		transform: rotate(720deg);
	}
	50% {
		-webkit-transform: rotate(720deg);
		transform: rotate(720deg);
	}
	70% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
}